body {
    font-size: 16px;
}

nav {
    z-index: 2000;
}

.logo {
    height: 40px;
    margin-top: 8px;
}

.home-banner {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('/static/images/home-page-small.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 19, 9, 0.3)
}

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 120px; 
    width: 100%;
    max-width: 800px;
    margin: 0 10rem;
    color: white;
    text-align: center;
    align-items: center;
}

.jumbotron h3 {
    font-weight: 700;
}

.jumbotron p {
    font-size: 20px;
    margin: 0;
    font-weight: 100;
}

.jumbotron a {
    display: inline-block;
    width: 200px;
    margin-top: 5rem;
}

.form-container {
    max-width: 500px;
}

.note {
    color: #868686;
    margin-top: 3rem;
    font-weight: 300;
}

.signup-loading {
    visibility: hidden;
}

.login-loading {
    visibility: hidden;
}


/* LOADER */
.loader-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background-color: rgb(245, 80, 30,0.15);
}

.loader-container-inline {
    position: static;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.loader {
    position: relative;
    display: block;
    width:40px;
    height: 40px;
    border: 1px solid transparent;
    border-top-color: #ff5722;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid transparent;
    border-top-color: #ff7043;
    border-radius: 50%;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid transparent;
    border-top-color: #ff8a65 ;
    border-radius: 50%;
    -webkit-animation: spin 3.5s linear infinite;
    animation: spin 3.5s linear infinite;
}

@-webkit-keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* DASHBOARD */
.dashboard-card {
    background-color: white;
    /* height: 10rem; */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
    padding: 1.5rem;
    font-size: 16px;
}

.dashboard-card h5 {
    color: #f4511e
}

.card-content > .title {
    font-size: 1.3rem;
}

.card-content > .date {
    font-size: 0.8rem;
    margin-bottom: 0.8rem !important;
    color: #f4511e;
}

.card-content > .description {
    font-size: 0.9rem;
}

.card-action {
    font-size: 0.8rem;
}

.card-action a {
    color: #f4511e !important;
}

.title {
    color: #000;
}

#croppie {
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px
}

.croppie-container {
    position: relative;
}

.croppie-container-modal {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.new-recipe-info-container {
    background-color: white;
    padding: 2rem !important;
}

.side-note {
    margin: 3rem 0;
}

.side-note p {
    font-weight: 100;
    font-size: 28px;
    line-height: 2;
    color: #9a9696;
}

.right-border { 
    border-right: 1px solid #dbdbdb;
}

.left-border {
    border-left: 1px solid #dbdbdb;
    padding-left: 2rem !important;
    margin-left: 2rem !important;
}

.label-file-input:hover{
    cursor: pointer;
}

.croppie-file-input {
    display: none;
}

.croppie-file-input-modal {
}

.profile-picture-modal {
    max-width: 500px;
}

.upload-img,
.profile-img {
    display: inline-block;
}

.profile-img {
    cursor: pointer;
}


.recipe-image {
    height: 200px;
}

.personal-text {
    font-weight: 200;
}

.edit-details {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#user-container {
    position: relative;
}

.recipe-container {
    margin-top: 3rem;
    padding: 3rem;
}


.ruler {
    height: 0.15rem;
    background-color: #868686;
    width: 200px;
    margin: 0 auto 3rem;
}

.delete-action {
    position: absolute;
    top: 10px; 
    right: 10px;
}

.delete-action  i {
    padding: 5px
}

.delete-action i:hover {
    background-color: #e0e0e0;
}

.recipe-card-container {
    position: relative;
    padding: 20px;
}

.card-container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5000;
    background-color: rgba(255,255,255,0.7)
}
    

.drinks-container {
    margin-top: 3rem;
    background-color: white;
}

.filter-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #ebeaea;
    background-color: #fafafa;
    flex-wrap: wrap;
}

.filter-container div:last-child {
    margin-left: auto;
}

.filter-container > .input-field {
    margin: 0 2rem;
}

.recipes-page-container {
    padding: 2rem;
}

.recipes-pagination {
    height: 100px;
}


.items-page-card-link {
    flex-basis: 100%;
    max-width: 400px;
    margin: 1rem 1rem;
}

.items-page-card-link.disabled {
    box-shadow: none;
}

.recipes-page-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.items-page-card {
    border: 1px solid #e0e0e0;
    box-shadow: none;
    color: black
}

.items-page-card:hover {
    background-color: #ff670021;
    cursor: pointer;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #a7a7a7;
}

.card-info > div {
    margin:0 0.5rem;
}

.card-info > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.card-info > div:last-child .rating {
    font-size: 16px;
    margin-right: 0.5em;
    color: #f4511e;
}

.recipe-pagination {
    flex-basis: 100%;
}

.recipe-line {
    display: flex;
    align-items: center;
    max-width: 600px;
    position: relative;
}

.recipe-line-description {
    width: 100%;
    max-width: 450px;
}

.recipe-line-icon {
    position: absolute;
    right: 0;
}

.recipe-line i:hover {
    cursor: pointer;
}




/* ----------------------------------------------------------------------------- COMMENTS */
.comment-container {
    background-color: #fafafa;
    margin: 0 3rem;
    padding: 2rem;
    font-size: 14px
}

.input-comment-container {
    display: flex;
    justify-content: left;
    background-color: #fafafa;
    margin: 0 3rem;
    padding: 2rem;
}

.comment-form {
    width: 100%;
}

.comment-textarea-input {
    resize: none;
    height: 100px;
    background-color: white;
    font-size: 14px;
    padding: 0.5rem;
}

.comment {
    display: flex;
    position: relative;
    padding: 2rem 0;
    border-bottom: 1px solid #e0dfdf;
}
.comment-message {
    flex-basis: 100%;
}

.comment-user {
    flex-basis: 100px;
    font-size: 12px;
}

.comment-message div:first-child {
    font-size: 12px;
    margin-bottom: 0.3rem;
    color: #b1b1b1;
}

.favorite-recipe {
    font-size: 2rem;
    color: #b5b5b5;
    margin-top: 1rem;
    line-height: 1rem;
}

.favorite-recipe:hover {
    cursor: pointer;
    color: #c7c7c7;
}

.favorite-active {
    color: #ee6e73;
}

.favorite-active:hover {
    color: #f3999c;
}

.favorite-item {
    padding: 0.75rem;
}

.favorite-item:hover {
    cursor: pointer;
    background-color:#ff670021;
}

.favorite-item div:first-child {
    font-weight: 600;
    font-size: 1.2rem;
}

.favorite-item div:last-child {
    font-size: 1rem;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating > input{
    display:none;
  }

.rating > label {
    position: relative;
    width: 1em;
    font-size: 2rem;
    color: #f4511e;
    cursor: pointer;
}

.rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
 /* shame... shame... shame... I'll explain that later*/
}

.rating > input:checked ~ label:before{
    opacity: 1;
}

.rating:hover > input:checked ~ label:before{
    opacity: 0.4;
}

.rating-container {
    display: inline-block;
}

.rating-container > div:last-child {
    font-size: 0.9rem;
    color: gray;
}

.labels-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.labels-container .label {
    padding: 0.3em 0.6em;
    margin: 0 0.3em;
    background-color: #f67234;
    font-size: 14px;
    color: white;
}

.about-text{
    font-size: 18px;
    line-height: 1.7;
    font-weight: 200;
    text-align: justify;
}


/* MOBILE */
@media (max-width: 600px) {
    .recipe-container {
        padding: 1rem;
    }

    .comment-container {
        margin: 0 !important;
        padding: 1rem !important;
    }

    .input-comment-container {
        margin: 0 !important;
        padding: 1rem !important;
    }

    .filter-container > .input-field {
        margin: 0;
        flex-basis: 45%;
    }

    .filter-submit {
        margin: 0;
        margin-top: 1rem;
    }

    .recipes-page-container {
        padding: 1rem !important;
    }

    .items-page-card-link {
        margin: 0;
    }

    .card-content {
        padding: 1rem !important;
    }

    .card-action {
        padding: 0.5rem 1rem !important;
    }

    .recipe-card-container {
        padding: 0 !important;
    }

    .recipe-card-container .card-content > .description {
        display:none;
    }

    .delete-action {
        top: unset;
        bottom: 40px;

    }
 
}