body {
    font-size: 14px;
}
.logo {
    height: 40px;
    margin-top: 8px;
}

.home-banner {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('/static/images/home-page-small.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 19, 9, 0.3)
}

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 120px; 
    width: 100%;
    max-width: 800px;
    margin: 0 10rem;
    color: white;
    text-align: center;
    align-items: center;
}

.jumbotron h3 {
    font-weight: 700;
}

.jumbotron p {
    font-size: 20px;
    margin: 0;
    font-weight: 100;
}

.jumbotron a {
    display: inline-block;
    width: 200px;
    margin-top: 5rem;
}

.form-container {
    max-width: 500px;
}

.note {
    color: #868686;
    margin-top: 3rem;
    font-weight: 300;
}

.signup-loading {
    visibility: hidden;
}

.login-loading {
    visibility: hidden;
}