body {
    font-size: 14px;
}

nav {
    z-index: 2000;
}

.logo {
    height: 40px;
    margin-top: 8px;
}

.home-banner {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url('/static/images/home-page-small.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 19, 9, 0.3)
}

.jumbotron {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 120px; 
    width: 100%;
    max-width: 800px;
    margin: 0 10rem;
    color: white;
    text-align: center;
    align-items: center;
}

.jumbotron h3 {
    font-weight: 700;
}

.jumbotron p {
    font-size: 20px;
    margin: 0;
    font-weight: 100;
}

.jumbotron a {
    display: inline-block;
    width: 200px;
    margin-top: 5rem;
}

.form-container {
    max-width: 500px;
}

.note {
    color: #868686;
    margin-top: 3rem;
    font-weight: 300;
}

.signup-loading {
    visibility: hidden;
}

.login-loading {
    visibility: hidden;
}


/* LOADER */
.loader-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background-color: rgb(245, 80, 30,0.15);
}

.loader-container-inline {
    position: static;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.loader {
    position: relative;
    display: block;
    width:40px;
    height: 40px;
    border: 1px solid transparent;
    border-top-color: #ff5722;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid transparent;
    border-top-color: #ff7043;
    border-radius: 50%;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid transparent;
    border-top-color: #ff8a65 ;
    border-radius: 50%;
    -webkit-animation: spin 3.5s linear infinite;
    animation: spin 3.5s linear infinite;
}

@-webkit-keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%    {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* DASHBOARD */
.dashboard-card {
    background-color: white;
    /* height: 10rem; */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
    padding: 1.5rem;
    font-size: 16px;
}

.dashboard-card h5 {
    color: #f4511e
}

.card-content > .title {
    font-size: 1.3rem;
}

.card-content > .date {
    font-size: 0.8rem;
    margin-bottom: 0.8rem !important;
    color: #f4511e;
}

.card-content > .description {
    font-size: 0.9rem;
}

.card-action {
    font-size: 0.8rem;
}

.card-action a {
    color: #f4511e !important;
}

.title {
    color: #000;
}

#croppie {
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px
}

.croppie-container {
    position: relative;
}

.croppie-container-modal {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.side-note p {
    font-weight: 100;
    font-size: 28px;
    line-height: 2;
    color: #9a9696;
}

.right-border { 
    border-right: 1px solid #dbdbdb;
}

.left-border {
    border-left: 1px solid #dbdbdb;
    padding-left: 2rem !important;
    margin-left: 2rem !important;
}

.label-file-input:hover{
    cursor: pointer;
}

.croppie-file-input {
    display: none;
}

.croppie-file-input-modal {
}

.profile-picture-modal {
    max-width: 500px;
}

.upload-img,
.profile-img {
    display: inline-block;
}

.profile-img {
    cursor: pointer;
}


.recipe-image {
    height: 200px;
}

.personal-text {
    font-weight: 200;
}

.edit-details {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#user-container {
    position: relative;
}

.recipe-container {
    margin-top: 3px;
    padding: 3rem;
}

.ruler {
    height: 0.15rem;
    background-color: #868686;
    width: 200px;
    margin: 0 auto 3rem;
}

.delete-action {
    position: absolute;
    top: 10px; 
    right: 10px;
}

.delete-action  i {
    padding: 5px
}

.delete-action i:hover {
    background-color: #e0e0e0;
}

.recipe-card-container {
    position: relative;
    padding: 20px;
}

.card-container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5000;
    background-color: rgba(255,255,255,0.7)
}
    

.drinks-container {
    margin-top: 3rem;
    background-color: white;
}

.filter-container {
    border-right: 1px solid #ebeaea;
    height: 100vh;
}

.recipes-page-container {
    margin-left: 2rem;
}

.recipes-pagination {
    height: 100px;
}

.recipes-page-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}