<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ pageTitle }} - Tasting Experience</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- CSS Block -->
  {% block css_style %}
  {% endblock %}
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body class="grey lighten-5">
  {% if navBar %}
  <nav class="white">
    {% else %}
    <nav class="transparent z-depth-0">
      {% endif %}
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><img {% if navBar %}
              src="{{ url_for('static',filename='images/logo-black.png') }}" {% else %}
              src="{{ url_for('static',filename='images/logo-white.png') }}" {% endif %} class="logo"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" {% if navBar %} class="black-text" {% endif %}>Home</a></li>
            <li><a href="/drinks" {% if navBar %} class="black-text" {% endif %}>Drinks</a></li>
            <li><a href="/about" {% if navBar %} class="black-text" {% endif %}>About</a></li>
            {% if logged_in %}
            <li><a href="/dashboard" {% if navBar %} class="black-text" {% endif %}>My Dashboard</a></li>
            <li><a href="/logout" class="deep-orange-text text-darken-1">Logout</a></li>
            {% else %}
            <li><a href="/login" class="waves-effect waves-light btn-small deep-orange darken-1">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.bundle.js') }}"></script>
    {% block script %}
    {% endblock %}

</body>

</html>