<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ pageTitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body class="grey lighten-5">
  {% if navBar %}
  <nav class="white"> 
  {% else %}
  <nav class="transparent z-depth-0">
  {% endif %}
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img {% if navBar %}  src="{{ url_for('static',filename='images/logo-black.png') }}" {% else %}  src="{{ url_for('static',filename='images/logo-white.png') }}" {% endif %}
            class="logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html" {% if navBar %} class="black-text" {% endif %}>Home</a></li>
          <li><a href="badges.html" {% if navBar %} class="black-text" {% endif %}>Drinks</a></li>
          <li><a href="collapsible.html" {% if navBar %} class="black-text" {% endif %}>My Dashboard</a></li>
          <li><a class="waves-effect waves-light btn-small deep-orange darken-1">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>