{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 title">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="user-container" class="dashboard-card">
                <div class="row">
                    <div class="col s12">
                        <h5>Personal</h5>
                    </div>
                </div>
                <div id="user-loader" class="loader-container-inline">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m7 s12">
            <div id="recipe-container" class="dashboard-card">
                <div class="row">
                    <div class="col s12">
                        <h5>My recipes</h5>
                    </div>
                </div>
                <div id="recipe-loader" class="loader-container-inline">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div class="col m5 s12">
            <div class="dashboard-card">
                <div class="row">
                    <div class="col s12">
                        <h5>My favorites</h5>
                    </div>
                </div>
                <div id="favorites-loader" class="loader-container-inline">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="loader-container">
    <div class="loader"></div>
</div> -->
{% endblock %}

{% block script %}
<script>
    TE.getUserRecipes();
    TE.getUserData()
</script>
{% endblock %}