{% extends "base.html" %}
{% block content %}
<div class="container form-container">
    <div class="row">
        <h3>Login</h3>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <button class="btn waves-effect waves-light deep-orange darken-1" onclick="TE.logInUser(this)">Login
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="login-loading">
                    <div class="col s2">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col 6">
                        <p>Logging in, please wait</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="note">Do you want to sign up? You can click <a href="/signup"
                class="deep-orange-text text-darken-1">here</a>
            and join our community!</p>
    </div>
</div>
{% endblock %}