{% extends "base.html" %}


<!-- Page content block -->
{% block content %}
<div class="container white recipe-container">
  <div class="row">
    <div class="col s12 m9 title">
      <h3>{{title}}</h3>
    </div>
    <div class="col s12 m3 title">
      <a href="#!" class="waves-effect waves-yellow btn-flat" onclick="atob">edit</a>
      <a href="#!" class="red-text waves-effect waves-red btn-flat" onclick="TE.deleteRecipe({{ id }})">delete</a>
    </div>
  </div>

  <div class="row">
    <div class="col m12 l5">
      <img class="responsive-img" width="300" height="400" src="/{{ image_path }}">
    </div>
    <div class="col m12 l7">
      <div class="row">
        <div class="col s12 m2"><strong>Author</strong></div>
        <div class="col s12 m10">{{firstname}} {{lastname}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2"><strong>Date</strong></div>
        <div class="col s12 m10">{{date}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2"><strong>Views</strong></div>
        <div class="col s12 m10">{{views}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2"><strong>Rating</strong></div>
        <div class="col s12 m10">-</div>
      </div>
      <div class="row" style="margin-top:3rem">
        <div class="col s12"><strong>Description</strong></div>
        <div class="col s12">{{description}}</div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 3rem;">
    <div class="col s12"><strong>Recipe</strong></div>
    <div class="col s12">{{recipe}}</div>
  </div>
  <div class="row" style="margin-top: 3rem;">
    <div class="col s12"><strong>Ingredients</strong></div>
    {% for ingredient in ingredients %}
    <div class="col s12"><span>&mdash;&emsp;{{ ingredient}}</span></div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col s12">
      <h5 class="center-align">Comments</h5>
    </div>
  </div>
  <div class="row">
    <div class="ruler"></div>
  </div>


</div>
{% endblock %}