{% extends "base.html" %}


<!-- Page content block -->
{% block content %}
<div class="container white recipe-container">
  <div class="row">
    <div class="col s12 m9 title">
      <h3>{{data.title}}</h3>
    </div>
    {% if data.owner %}
    <div class="col s12 m3 title">
      <a href="?edit=true" class="waves-effect waves-yellow btn-flat" onclick="atob">edit</a>
      <a href="javascript:void(0);" class="red-text waves-effect waves-red btn-flat"
        onclick="TE.deleteRecipe({{ id }})">delete</a>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col m12 l5">
      <img class="responsive-img" width="300" height="400" src="/{{ data.image_path }}">
    </div>
    <div class="col m12 l7">
      <div class="row">
        <div class="col s12 m2"><strong>Author</strong></div>
        <div class="col s12 m10">{{data.firstname}} {{data.lastname}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2"><strong>Date</strong></div>
        <div class="col s12 m10">{{date}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2"><strong>Views</strong></div>
        <div class="col s12 m10">{{data.views}}</div>
      </div>
      <div class="row">
        <div class="col s12 m2" style="margin-top: 10px;"><strong>Rating</strong></div>
        <div class="col s12 m10">
          <div class="rating-container">
            <div class="rating">
              <input type="radio" name="rating" value="5" id="5" onclick="TE.updateRating(this)"><label
                for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4" onclick="TE.updateRating(this)"><label
                for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3" onclick="TE.updateRating(this)"><label
                for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2" onclick="TE.updateRating(this)"><label
                for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1" onclick="TE.updateRating(this)"><label
                for="1">☆</label>
            </div>
            <div style="white-space: pre-line">{{data.avg_rating}}<br />{{data.nr_ratings}}</div>
          </div>
        </div>
      </div>
      <div class="row" style="display: flex;align-items: center;">
        <div class="col s12 m2"><strong>Favorite</strong></div>
        <div class="col s12 m10">
          {% if data.favorite %}
          <i class="material-icons favorite-recipe favorite-active"
            onclick="TE.toggleFavorite({{ id }}, this)">favorite</i>
          {% else %}
          <i class="material-icons favorite-recipe" onclick="TE.toggleFavorite({{ id }}, this)">favorite</i>
          {% endif %}
        </div>
      </div>
      <div class="row" style="margin-top:3rem">
        <div class="col s12"><strong>Labels</strong></div>
        <div class="col s12 labels-container">
          {% for label in labels %}
          <div class="label">{{label.name}}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:3rem">
    <div class="col s12"><strong>Description</strong></div>
    <div class="col s12">{{data.description}}</div>
  </div>
  <div class="row" style="margin-top: 3rem;">
    <div class="col s12"><strong>Recipe</strong></div>
    <div class="col s12" style="white-space: pre-line">{{data.recipe}}</div>
  </div>
  <div class="row" style="margin-top: 3rem;">
    <div class="col s12"><strong>Ingredients</strong></div>
    {% for ingredient in data.ingredients %}
    <div class="col s12"><span>&mdash;&emsp;{{ ingredient}}</span></div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col s12">
      <h5 class="center-align">Comments</h5>
    </div>
  </div>
  <div class="row">
    <div class="ruler"></div>
  </div>
  <div class="row">
    <div class="comment-container">
      {% if commentsAvailable %}
      {% for comment in comments %}
      <div class="comment">
        <div class="comment-user">
          <img class="responsive-img" width="50" src="/{{ comment.image_path }}">
          <div>{{comment.firstname}}</div>
          <div>{{comment.lastname}}</div>
        </div>
        <div class="comment-message">
          <div>{{ comment.date }}</div>
          <div>{{ comment.message }}</div>
          {% if comment.owner %}
          <div class="delete-action">
            <a href="javascript:void(0);" onclick="TE.deleteComment({{comment.id}})">
              <i class="material-icons grey-text">delete</i>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="comment">
        <em>Be the first one to write a comment!</em>
      </div>
      {% endif%}
    </div>
  </div>
  <div class="row">
    <div class="input-comment-container">
      <form id="commentForm" class="comment-form" action="/comment/{{ id }}" method="POST">
        <div class="comment-textarea">
          <label for="textarea1">New comment</label>
          <textarea id="textarea1" class="comment-textarea-input" name="comment" data-length="500"></textarea>
        </div>
        <input type="button" value="Submit" onclick="TE.postComment(this)" class="btn btn-small grey darken-1">
      </form>
    </div>
  </div>


</div>
{% endblock %}

<!-- Custom script block -->
{% block script %}
<script>
  $(document).ready(function () {
    $('textarea#textarea1').characterCounter();

    // Set user rating
    $("input[name=rating][value='{{rating.user_rating.rating}}']").prop('checked', true)

    // Send view page update after 3.5 seconds
    setTimeout(function () {
      let urlIdIndex = window.location.pathname.lastIndexOf('/');
      let recipeId = window.location.pathname.substring(urlIdIndex + 1);
      fetch(window.location.origin + '/recipe/' + recipeId, {
        method: 'PATCH',
        body: 'view=true',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      }).then(res => {
        return res.json()
      }).then(resData => {
        console.log(resData);
      })
    }, 3500)
  });

</script>
{% endblock %}